<!doctype html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <!-- https://developers.google.com/chart/interactive/docs/ -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!--
            VARIABLES EJS:
            Admin: resultsAdmin
            Clientes: resultsClientes
            Servicios: resultsServicios
        -->
        <style>
            .vertical-center {
                background-color: #B7DAF3;
                min-height: 100%;
                /* Fallback for browsers do NOT support vh unit */
                min-height: 100vh;
                display: flex;
                align-items: center;
            }
        </style>
</head>

<body>

    <% include ../partials/nav.ejs %>
        <script src="js/navreset.js"></script>

        <div class="vertical-center" style="padding-top:56px;">
            <div class="py-3 container rounded" style="background-color: #8ABDE1;">
                <div id="donutchart" style="background-color:#B7DAF3; min-height: 40%; min-height: 40vh;"></div>
                <div class="pt-3 table-responsive" style="background-color: #8ABDE1;">
                    <table class="table table-striped table-hover table-sm">
                        <thead class="thead-light">
                            <th scope="col">ID Cliente</th>
                            <th scope="col">ID Servicio</th>
                            <th scope="col">Timestamp Entrada</th>
                            <th scope="col">Timestamp Salida</th>
                        </thead>
                        <tbody>
                            <% resultsAdmin.forEach(function(r) { %>
                                <tr>
                                    <td>
                                        <% resultsClientes.forEach(function(idC) { %>
                                        <%     if (idC.id_cliente == r.id_cliente) { %>
                                        <%=        idC.nombre_cliente; %>
                                        <%     } %>
                                        <% }); %>
                                    </td>
                                    <td>
                                        <% resultsServicios.forEach(function(idS) { %>
                                        <%     if (idS.id_servicio == r.id_servicio) { %>
                                        <%=        idS.nombre_servicio; %>
                                        <%     } %>
                                        <% }); %>
                                    </td>
                                    <td>
                                        <%= r.entrada %>
                                    </td>
                                    <td>
                                        <%= r.salida %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="dropdown">
                    <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Ir a página
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/habdoble">Habitación Doble</a>
                        <a class="dropdown-item" href="/habsimple">Habitación Simple</a>
                        <a class="dropdown-item" href="/playa">Excursión Playa</a>
                        <a class="dropdown-item" href="/cabflotante">Cabaña Flotante</a>
                        <a class="dropdown-item" href="/redir">Pago con Éxito</a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            // Google Pie Chart
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Recursos', 'Número'],
                    ['Habitaciones Dobles', 1],
                    ['Habitaciones Simples', 2],
                    ['Hamacas de Playa', 3],
                    ['Cabañas Flotantes', 1],
                    ['Huecos Libres', 13]
                ]);

                var options = {
                    backgroundColor: "#B7DAF3",
                    title: 'Ocupación del Hotel',
                    pieHole: 0.4,
                };

                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(data, options);
            }
            $(window).resize(function () {
                drawChart();
            });
        </script>

        <script type="text/javascript">
            // Database management
            // TODO (?)
        </script>
</body>

</html>