<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker();
            });
        </script>
</head>

<body>
    <!-- TODO (partials?) -->

    <% include ../partials/nav.ejs %>
        <div style="margin-top:56px;width:100%;"></div>
        <script src="js/navreset.js"></script>

        <div style="background-color: #B7DAF3; width: 100%;">
            <div class="container" style="padding: 15px;">
                <div class="row">
                    <div class="col-md">
                        <img src="img/beach.jpg" style="height: 100%; width: 100%; object-fit: contain">
                    </div>
                    <div class="col-md">
                        <% results.forEach(function(r) { %>
                            <h1>
                                <%= r.nombre_servicio %>
                            </h1>
                            <p>
                                <%= r.descripcion %>.
                            </p>
                            <p>
                                La paradisíaca y nutritiva playa de La Mortadela es una parada obligatoria para los turistas que visiten el país de Embutidonia
                                por primera vez. Encontrar una rodaja de aceituna entre la arena es señal de buena suerte
                                según la costumbre local, pero si lo que te encuentras es una rodaja de pimienta debes enterrarla
                                lo antes posible mientras cantas: "Mortadela, mortadela. De esta nadie se entera"...
                            </p>
                            <% }); %>
                                <form action="https://bitpay.com/checkout" method="post">
                                    <div class="row">
                                        <div class="col-md">
                                            <div class="form-group">
                                                <label for="playaName">Nombre:</label>
                                                <input type="text" class="form-control" id="playaName" placeholder="Nombre">
                                            </div>
                                            <div class="form-group">
                                                <label for="playaMail">Email:</label>
                                                <input type="email" class="form-control" id="playaMail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-group">
                                                <label for="playaFecha">Fecha:</label>
                                                <input type="text" class="form-control datepicker" id="playaFechaIn" placeholder="Fecha">
                                            </div>
                                            <div class="form-group">
                                                <label for="playaHora">Hora:</label>
                                                <select class="form-control" id="playaHora">
                                                    <option>10:00</option>
                                                    <option>13:00</option>
                                                    <option>16:00</option>
                                                    <option>19:00</option>
                                                    <option>22:00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md">
                                            <p>Paga en Bitcoin haciendo clic en el botón o escanea el código QR con el móvil:</p>
                                            <input type="hidden" name="action" value="cartAdd" />
                                            <input type="hidden" name="data" value="JruRXWyVJqJBxdeHdMUUp" />
                                            <button type="submit" class="btn btn-warning">
                                                Paga con BTC
                                            </button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPlaya">
                                                Código QR
                                            </button>
                                        </div>
                                    </div>
                                </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalPlaya" tabindex="-1" role="dialog" aria-labelledby="QR-playa" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPlayaLabel">QR Playa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="qr/playa.png" style="height: 100%; width: 100%; object-fit: contain">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>