<!doctype html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body style="background-color: #B7DAF3;">

    <% include ../partials/nav.ejs %>
        <script src="js/navreset.js"></script>
        <div class="row justify-content-center" style="height:100vh;">
            <div class="col-6 align-self-center">
                <div class="card text-center">
                    <div class="card-header">
                        Pago procesado con éxito
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Su pago ha sido procesado con éxito</h5>
                        <p class="card-text">¡Muchas gracias!</p>
                        <a href="#" class="btn btn-success" onclick="location.href='/';">Volver</a>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>